*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    width: 100px;
    margin: 0 auto;
    border-bottom: 2px solid green;
    font-family: fantasy;
}

.container{
    width: 300px;
    margin: 20px auto;
}

#text{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.element{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

#add{
    margin-left: auto;
    font-size: large;
    border-radius: 25%;
    box-shadow: 0 5px 2px rgb(99, 99, 99);
    color: rgb(0, 0, 0);
    background-color: rgb(203, 236, 202);
    cursor: pointer;
    transition: .3s;
}

#add:hover{
    background-color: rgb(110, 163, 117);
}

#add:active{
    transform: translateY(3px);
    box-shadow: 0 2px 2px rgb(99, 99, 99);
}

#remove{
    font-size: large;
    border-radius: 25%;
    box-shadow: 0 5px 2px rgb(99, 99, 99);
    color: rgb(0, 0, 0);
    background-color: rgb(224, 173, 153);
    cursor: pointer;
    transition: .3s;
}

#remove:hover{
    background-color: rgb(231, 171, 122);
}

#remove:active{
    transform: translateY(3px);
    box-shadow: 0 2px 2px rgb(99, 99, 99);
}

#save{
    display: block;
    transform: translateY(-4px);
    transition: 1s;
}

.hidden{
    display: none;
    transform: translateY(4px);
}